@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
    'Montserrat',
    -apple-system,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  @apply min-h-screen flex flex-col;
}

.heading {
  @apply text-2xl font-bold lg:text-3xl text-quinary text-center;
}

.bullet-swiper {
  @apply bg-transparent rounded-full border border-black mx-3 inline-block w-2 h-2 lg:w-3 lg:h-3;
}

.bullet-swiper-active {
  @apply bg-black;
}

.container {
  @apply px-5
}